* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  min-height: 100%;  /*100vh;*/
  width: 100%;
  height: 100%;
  background: url(../images/background.png); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3F6398;
  background-position: fixed;
}


.container{
  background-color:white;
  margin: 2em;
  width: 100%;
  height: 100%;
}

.hero {
  justify-content: flex-start;
}

h3.navbar-item{
  font-size: 1.6em;
}

/* h1{
 background: url("../images/transparentbanner.png");
 background-size: cover;
 width: 100%;
  height: 400px;
} */

.label {
  font-size: 1.2em;
}

navbar-item{
  font-size: 1.6em;

}

.bg-blue {
  background-color: #dbe5f0;
}

.bg-dkblue {
  background-color: #121f2e;
}

.button.is-primary {
  background-color: #568bc4;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */

}

.fullWide{
  width: 100%;
}

.is-vcentered {
  align-items: center;
}

.modal-card-head, .modal-card-foot {
  background-color: rgb(216, 132, 132);
}

.footer{
  background-color:#3F6398;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5em;
  padding: 0;
  color: white;
}

footer strong {
  color: white;
}

.navbar-item img {
  max-height: 100%;
}

.card-header-title {
  font-size: 1.5em;
}

#weatherResults, #giphyResults {
  opacity : 0;
  height: 40fr;
  border: groove;
}
#gifRedo{
  height: 2em;
  width: 2em;
  margin-top: 10px;
}


hr {
  color: black;
  background-color:black;
  border-color: #ee4b08;
  border-width: 5px;
  max-width: 80%;
  margin: auto;
}

#dt{
  background-color:#A8C9E5;
  border-width: 5px;
  max-width: 80%;
  margin: auto;
}

/* image hover effect */
.hover10 figure img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover10 figure:hover img {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}


div {
  cursor:crosshair;
}