main{
    background-image:"/Users/roxettechavely/Desktop/Homework/Giphy-Weather/assets/images/background.png";
    background-color: black;
}


h3.navbar-item{
  font-size: 1.6em;
}

.bg-blue {
  background-color: #dbe5f0;
}

.button.is-primary {
  background-color: #568bc4;
}